 

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family:Arial, Helvetica,Helvetica Neue ,sans-serif;
  background-color: black;
  color: #333333;
  font-size: 16px;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale

}
.MuiImageList-root{
  background: 'black';
}
.MuiImageListItem-imgFullHeight {
  margin-right: 3px;
}